<!-- html Seite für die Auswertung des Quizzes. -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Auswertung</title>
</head>

{% extends 'basis.html' %}

{% block content %}

<body>
<!-- Erreichte Punktezahl wird angezeigt -->
<h2>Du hast {{ punkte }} von {{ maximalpunkte }} erreicht.</h2> <br><br>
<!-- Codeblock für die richtig beantworteten Fragen. Es werden die Fragen angezeigt. -->
{% if richtige_fragen|length > 0 %}
<h3>Folgende Fragen hast du richtig beantwortet:</h3> <br>
{% for element in richtige_fragen %}
<p>{{ element }}</p> <br>
{% endfor %}
{% endif %}
<br><br>
<!-- Codeblock für falsch beantworteten Fragen. Es werden die Fragen und die richtige Antwort angezeigt.
Länge der Liste habe ich von https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template -->
{% if falsche_fragen|length > 0 %}
<h3>Folgende Fragen hast du falsch beantwortet:</h3>
{% for element in falsche_fragen %}
<p>{{ element[0] }}</p>
<p>Die richtige Antwort wäre: {{ element[1] }}</p> <br>

{% endfor %}
{% endif %}

<!-- Damit Quiz neu gestartet werden kann, ein Knopf, der alle Daten zurücksetzt und noch den Knopf, der dich zurück auf die Startseite bringt. -->
<form method="POST">
    <button type="submit">alle Daten zurücksetzen</button>
    <a href="{{ url_for('start') }}"> Quiz neu starten</a>
</form>
<br><br>
<h2>Quizhistorie:</h2>
<!-- Codeblock für eine Tabelle, welche die Quizhistorie anzeigt. -->
<table class="table m-5">
  <tr>
    <th>Name</th>
    <th>Kategorie</th>
    <th>Anzahl Punkte</th>
  </tr>
{% for element in quizhistorie_html %}
  <tr>
    <td>{{ element[0] }}</td>
    <td>{{ element[1] }}</td>
    <td>{{ element[2] }}</td>
  </tr>
{% endfor %}
</table>
</body>

{% endblock %}

</html>