<!-- Basis html Seite erstellt, damit ich alles an diesem Ort anpassen kann, und nicht auf jeder Seite einzeln
block content und endblock wurden dafür auf jeder html Seite eingefügt und erweitert (extended) -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS - Code von getbootstrap.com gefunden als starter template, und dann auf meinen Bedarf angepasst -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

    <title>Quiz-World</title>
  </head>
  <body>
    <!-- Navigation wird hier verknüpft in die Basis -->
    <!-- Code für block content und endblock von diesem Youtube Video: https://www.youtube.com/watch?v=y62Dvo2Ml7o -->
    {% include 'navbar.html' %}
    <br/>
    <!-- Container einfügen, damit es sich ein bisschen vom Rand löst und schöner aussieht -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  </body>
</html>



